/* line 770, ../sass/partials/_mixins.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 777, ../sass/partials/_mixins.scss */
.viz-designer-header-mod {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "FCKaiserCond";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-medium-webfont.eot");
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-medium-webfont.eot?#iefix") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-medium-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-medium-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-medium-webfont.svg#FCKaiserCond") format("svg");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiserCond";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-regular-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-regular-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-regular-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-regular-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiserCond";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-extralight-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-extralight-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-extralight-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-extralight-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiserXCond";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-extralight-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-extralight-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-extralight-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-extralight-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiserXCond";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-regular-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-regular-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-regular-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-regular-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSans";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-regular-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-regular-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-regular-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-regular-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSans";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-medium-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-medium-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-medium-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-medium-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSans";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-bold-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-bold-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-bold-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-bold-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-thin-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-thin-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-thin-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-thin-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-light-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-light-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-light-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-light-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-regular-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-regular-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-regular-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-regular-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-medium-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-medium-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-medium-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-medium-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-bold-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-bold-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-bold-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-bold-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-black-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-black-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-black-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-black-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiser";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-regular-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-regular-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-regular-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-regular-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiser";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-medium-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-medium-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-medium-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-medium-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  font-family: "MuseoSans";
  src: url("http://www.fastcodesign.com/fonts/museosans/museosans-100-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/museosans/museosans-100-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/museosans/museosans-100-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/museosans/museosans-100-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-family: "MuseoSans";
  src: url("http://www.fastcodesign.com/fonts/museosans/museosans-300-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/museosans/museosans-300-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/museosans/museosans-300-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/museosans/museosans-300-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-family: "MuseoSans";
  src: url("http://www.fastcodesign.com/fonts/museosans/museosans-500-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/museosans/museosans-500-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/museosans/museosans-500-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/museosans/museosans-500-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-family: "MuseoSans";
  src: url("http://www.fastcodesign.com/fonts/museosans/museosans-700-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/museosans/museosans-700-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/museosans/museosans-700-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/museosans/museosans-700-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-family: "Grumpy-Black36";
  src: url("http://www.fastcodesign.com/fonts/grumpy/grumpy-black36-webfont.eot?#iefix") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/grumpy/grumpy-black36-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/grumpy/grumpy-black36-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/grumpy/grumpy-black36-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold-webfont.svg#webfontKSc4AWhd") format("svg");
}

@font-face {
  font-weight: 600;
  font-style: italic;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold_italic-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold_italic-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold_italic-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold_italic-webfont.svg#webfontqJplC6D8") format("svg");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book-webfont.svg#webfontla9WkFWh") format("svg");
}

@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book_italic-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book_italic-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book_italic-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book_italic-webfont.svg#webfont2p2hqYg5") format("svg");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium-webfont.svg#webfontsq83qGc8") format("svg");
}

@font-face {
  font-weight: 500;
  font-style: italic;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium_italic-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium_italic-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium_italic-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium_italic-webfont.svg#webfontydPYhPC6") format("svg");
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebThin.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebThin.woff") format("woff");
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebLight.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebLight.woff") format("woff");
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebRegular.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebRegular.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebMedium.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebMedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebBold.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebBlack.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebBlack.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

/* !============================================= */
/* ! Variables						  			  */
/* !============================================= */
/* !-- Universal ------------------------------------ */
/* !-- Project ------------------------------------ */
/* !-- Project ------------------------------------ */
/* !-- Paths ------------------------------------ */
/* line 20, ../sass/site.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../sass/site.scss */
body {
  margin: 0;
  padding: 15px 20px;
}
@media (min-width: 620px) {
  /* line 24, ../sass/site.scss */
  body {
    padding: 30px 20px;
  }
}

/* line 42, ../sass/site.scss */
.viz-article {
  margin: 0 auto;
  max-width: 634px;
  height: 100%;
  color: #33312e;
  font-size: 13px;
  font-family: "MuseoSans", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

/* line 52, ../sass/site.scss */
.viz-container {
  position: relative;
  background-color: white;
}

/* line 57, ../sass/site.scss */
.viz-detail {
  color: #99948a;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 300;
  font-size: 11px;
  line-height: 80%;
}

/* line 66, ../sass/site.scss */
.viz-overline {
  margin: 0 0 5px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ccc6b9;
  color: #99948a;
  font-weight: 300;
  font-size: 11px;
}

/* line 75, ../sass/site.scss */
.viz-title {
  margin: 0 0 5px;
  padding-bottom: 10px;
  border-bottom: 2px solid #33312e;
  font-weight: 600;
  font-size: 42px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  line-height: 90%;
}
@media (min-width: 620px) {
  /* line 75, ../sass/site.scss */
  .viz-title {
    font-size: 42px;
  }
}

/* line 88, ../sass/site.scss */
.viz-underline {
  margin-top: 0;
  color: #33312e;
  font-weight: 300;
  line-height: 140%;
}

/* line 95, ../sass/site.scss */
.viz-copy {
  color: #66635d;
  font-weight: 300;
  line-height: 140%;
}

/* line 101, ../sass/site.scss */
.viz-byline {
  letter-spacing: .5px;
  line-height: 90%;
}

/* line 106, ../sass/site.scss */
.viz-content-block {
  margin: 0 0 25px;
}

/* line 110, ../sass/site.scss */
.viz-content-header {
  margin: 0 0 30px;
}

/* line 114, ../sass/site.scss */
.viz-subhed {
  margin: 0 0 10px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ccc6b9;
  font-weight: 500;
  font-size: 13px;
}

/* line 122, ../sass/site.scss */
.viz-subhed-select {
  padding-bottom: 7px;
}

/* line 126, ../sass/site.scss */
.viz-legend {
  margin: 0 0 0 4px;
  padding: 0;
  list-style-position: inside;
}

/* line 132, ../sass/site.scss */
.viz-legend-item {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  margin: 0 15px 5px 0;
  background-color: white;
  font-size: 36px;
  line-height: 40%;
}
/* line 139, ../sass/site.scss */
.viz-legend-item:before {
  margin-left: -5px;
  padding-right: 2px;
  content: "\002022";
}

/* line 146, ../sass/site.scss */
.viz-legend-text {
  vertical-align: middle;
}

/* line 158, ../sass/site.scss */
.viz-choice-item {
  padding: 5px 0;
  width: 100%;
  border-bottom: 1px solid #ccc6b9;
  cursor: pointer;
  -webkit-column-break-inside: avoid;
  -webkit-backface-visibility: hidden;
}
/* line 165, ../sass/site.scss */
.viz-choice-item:nth-child(2n) {
  margin-bottom: 10px;
  border-bottom: 0px;
}
/* line 168, ../sass/site.scss */
.viz-choice-item:nth-child(2n) .viz-vs {
  display: block;
}
/* line 172, ../sass/site.scss */
.viz-choice-item:first-of-type {
  padding-top: 0;
}
/* line 175, ../sass/site.scss */
.viz-choice-item:last-of-type {
  padding-bottom: 0;
}

/* line 180, ../sass/site.scss */
.viz-choices-group {
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
  margin: 0 0 20px;
  padding: 0 0 0 10px;
  border-left: 1px solid #ccc6b9;
  list-style-type: none;
  vertical-align: top;
}
@media (min-width: 620px) {
  /* line 180, ../sass/site.scss */
  .viz-choices-group {
    display: inline-block;
    width: 100%;
  }
}
/* line 191, ../sass/site.scss */
.viz-choices-group .viz-choice-item {
  margin-bottom: 0;
}

/* line 196, ../sass/site.scss */
.viz-header-wrapper {
  *zoom: 1;
  position: relative;
}
/* line 38, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.viz-header-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 201, ../sass/site.scss */
.viz-designer-description {
  display: none;
  margin: 0px;
  padding: 10px 0;
  color: #99948a;
  font-weight: 300;
  font-size: 12px;
  line-height: 140%;
}

/* line 211, ../sass/site.scss */
.viz-headshot-wrap {
  position: relative;
  float: left;
  overflow: hidden;
  width: 40px;
  height: 40px;
}

/* line 220, ../sass/site.scss */
.viz-headshot {
  position: relative;
  width: 1280px;
  height: 40px;
}

/* line 226, ../sass/site.scss */
.viz-designer-name {
  display: block;
  margin: 0 0 2px;
  font-weight: 500;
  font-size: 14px;
}

/* line 233, ../sass/site.scss */
.viz-designer-job {
  display: block;
  margin: 0;
  color: #99948a;
  font-weight: 300;
  font-size: 11px;
}

/* line 241, ../sass/site.scss */
.viz-designer-header-mod {
  left: 47px;
  padding-right: 35px;
}

/* line 247, ../sass/site.scss */
.viz-vs {
  position: absolute;
  top: -13px;
  right: 0px;
  z-index: 1;
  display: none;
  padding: 0;
  width: 25px;
  height: 15px;
  border: 1px solid #ccc6b9;
  background-color: white;
  color: #ccc6b9;
  text-align: center;
  font-weight: 300;
  font-size: 10px;
}

@media (min-width: 620px) {
  /* line 270, ../sass/site.scss */
  .viz-quiz-wrapper {
    *zoom: 1;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    -ms-column-gap: 30px;
    -o-column-gap: 30px;
    column-gap: 30px;
  }
  /* line 38, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .viz-quiz-wrapper:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* line 282, ../sass/site.scss */
.viz-radio {
  display: none;
}

/* line 286, ../sass/site.scss */
.viz-quiz-target {
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  position: absolute;
  top: 8px;
  right: 0px;
  width: 25px;
  height: 25px;
  background: url("http://www.guswezerek.com/projects/bracket_madness/choice_targets.png") no-repeat;
  background-position: 0 0;
  background-size: 25px;
  opacity: 0.5;
}
/* line 295, ../sass/site.scss */
.viz-quiz-target:hover {
  opacity: 1;
}

/* line 300, ../sass/site.scss */
.viz-submitted-alert {
  display: none;
  margin: -25px 0 10px;
  padding: 5px;
  color: #ccc6b9;
  text-align: center;
  font-weight: 300;
  font-size: 11px;
}

/* line 311, ../sass/site.scss */
.viz-choice-winner .viz-quiz-target {
  background-position: 0 -50px;
}

/* line 317, ../sass/site.scss */
.viz-choice-loser .viz-quiz-target {
  background-position: 0 -25px;
}
/* line 320, ../sass/site.scss */
.viz-choice-loser .viz-designer-name {
  color: #99948a;
  font-weight: 300;
}
/* line 324, ../sass/site.scss */
.viz-choice-loser .viz-headshot {
  opacity: .3;
}

/* line 340, ../sass/site.scss */
.viz-division-wrapper {
  height: 2100px;
}
@media (min-width: 620px) {
  /* line 340, ../sass/site.scss */
  .viz-division-wrapper {
    height: 1070px;
    *zoom: 1;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    -ms-column-gap: 15px;
    -o-column-gap: 15px;
    column-gap: 15px;
  }
  /* line 38, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .viz-division-wrapper:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (min-width: 620px) {
  /* line 351, ../sass/site.scss */
  .viz-column-2 {
    padding-left: 14px;
    border-left: 1px dotted #ccc6b9;
  }
}

/* line 358, ../sass/site.scss */
.viz-division-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 367, ../sass/site.scss */
.viz-nav-anchor-list {
  padding: 0;
  list-style-type: none;
}

/* line 378, ../sass/site.scss */
.viz-division-topper {
  position: relative;
  margin: 0 auto 15px;
  padding: 0;
  border: 1px solid #ccc6b9;
  -webkit-column-break-inside: avoid;
  -webkit-backface-visibility: hidden;
}

/* line 387, ../sass/site.scss */
.viz-division-title {
  display: inline-block;
  margin: -3px 0 0;
  width: 100%;
  color: #33312e;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 11px;
  line-height: 80%;
}

/* line 399, ../sass/site.scss */
.viz-division-bull {
  margin-left: 4px;
  padding-right: 4px;
  vertical-align: middle;
  font-size: 36px;
}

/* line 406, ../sass/site.scss */
.viz-division-button {
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  position: absolute;
  top: 10px;
  width: 20px;
  height: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.5;
  cursor: pointer;
}
/* line 416, ../sass/site.scss */
.viz-division-button:hover {
  opacity: 1;
}
/* line 419, ../sass/site.scss */
.viz-division-button:focus {
  outline: none;
}

/* line 424, ../sass/site.scss */
.viz-prev {
  left: 10px;
  background-image: url("http://www.guswezerek.com/projects/bracket_madness/btn-prev.png");
}

/* line 429, ../sass/site.scss */
.viz-next {
  right: 10px;
  background-image: url("http://www.guswezerek.com/projects/bracket_madness/btn-next.png");
}

/* line 434, ../sass/site.scss */
.viz-division-button-img {
  margin: 0;
  width: 20px;
}

/* line 439, ../sass/site.scss */
.viz-division-name {
  margin-top: 0;
  padding: 0 5px;
  text-align: center;
  background-color: white;
}

/* line 446, ../sass/site.scss */
.viz-division-round {
  color: #33312e;
  letter-spacing: 0.5px;
  font-size: 15px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  margin: 10px 0 16px;
  font-weight: 600;
}

/* line 457, ../sass/site.scss */
.viz-division {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 100%;
}
@media (min-width: 620px) {
  /* line 461, ../sass/site.scss */
  .viz-division:last-of-type .viz-division-designers-list, .viz-division .viz-choice-item:last-of-type {
    margin-bottom: 0;
  }
}

/* line 467, ../sass/site.scss */
.viz-division-finals {
  display: none;
}

/* line 471, ../sass/site.scss */
.viz-division-winner {
  display: none;
}

/* line 475, ../sass/site.scss */
.viz-division-designers-list {
  margin: 0 0 35px;
  padding: 0 10px;
  list-style-type: none;
}

/* line 489, ../sass/site.scss */
.viz-graphic-text {
  color: #ff8a80;
}

/* line 493, ../sass/site.scss */
.viz-interactive-text {
  color: #b781ff;
}

/* line 497, ../sass/site.scss */
.viz-product-text {
  color: #819fff;
}

/* line 501, ../sass/site.scss */
.viz-architecture-text {
  color: #ff81f4;
}

/* line 505, ../sass/site.scss */
.viz-graphic-img {
  background-color: #ff8a80;
}

/* line 509, ../sass/site.scss */
.viz-interactive-img {
  background-color: #b781ff;
}

/* line 513, ../sass/site.scss */
.viz-product-img {
  background-color: #819fff;
}

/* line 517, ../sass/site.scss */
.viz-architecture-img {
  background-color: #ff81f4;
}
