/* line 770, ../sass/partials/_mixins.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 777, ../sass/partials/_mixins.scss */
.viz-designer-header-mod {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "FCKaiserCond";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-medium-webfont.eot");
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-medium-webfont.eot?#iefix") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-medium-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-medium-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-medium-webfont.svg#FCKaiserCond") format("svg");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiserCond";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-regular-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-regular-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-regular-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-regular-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiserCond";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-extralight-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-extralight-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-extralight-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-extralight-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiserXCond";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-extralight-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-extralight-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-extralight-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-extralight-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiserXCond";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-regular-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-regular-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-regular-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-regular-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSans";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-regular-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-regular-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-regular-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-regular-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSans";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-medium-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-medium-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-medium-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-medium-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSans";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-bold-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-bold-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-bold-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-bold-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-thin-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-thin-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-thin-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-thin-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-light-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-light-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-light-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-light-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-regular-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-regular-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-regular-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-regular-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-medium-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-medium-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-medium-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-medium-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-bold-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-bold-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-bold-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-bold-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-black-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-black-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-black-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-black-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiser";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-regular-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-regular-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-regular-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-regular-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiser";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-medium-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-medium-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-medium-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-medium-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  font-family: "MuseoSans";
  src: url("http://www.fastcodesign.com/fonts/museosans/museosans-100-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/museosans/museosans-100-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/museosans/museosans-100-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/museosans/museosans-100-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-family: "MuseoSans";
  src: url("http://www.fastcodesign.com/fonts/museosans/museosans-300-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/museosans/museosans-300-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/museosans/museosans-300-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/museosans/museosans-300-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-family: "MuseoSans";
  src: url("http://www.fastcodesign.com/fonts/museosans/museosans-500-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/museosans/museosans-500-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/museosans/museosans-500-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/museosans/museosans-500-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-family: "MuseoSans";
  src: url("http://www.fastcodesign.com/fonts/museosans/museosans-700-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/museosans/museosans-700-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/museosans/museosans-700-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/museosans/museosans-700-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-family: "Grumpy-Black36";
  src: url("http://www.fastcodesign.com/fonts/grumpy/grumpy-black36-webfont.eot?#iefix") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/grumpy/grumpy-black36-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/grumpy/grumpy-black36-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/grumpy/grumpy-black36-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold-webfont.svg#webfontKSc4AWhd") format("svg");
}

@font-face {
  font-weight: 600;
  font-style: italic;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold_italic-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold_italic-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold_italic-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold_italic-webfont.svg#webfontqJplC6D8") format("svg");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book-webfont.svg#webfontla9WkFWh") format("svg");
}

@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book_italic-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book_italic-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book_italic-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book_italic-webfont.svg#webfont2p2hqYg5") format("svg");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium-webfont.svg#webfontsq83qGc8") format("svg");
}

@font-face {
  font-weight: 500;
  font-style: italic;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium_italic-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium_italic-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium_italic-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium_italic-webfont.svg#webfontydPYhPC6") format("svg");
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebThin.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebThin.woff") format("woff");
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebLight.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebLight.woff") format("woff");
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebRegular.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebRegular.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebMedium.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebMedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebBold.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebBlack.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebBlack.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

/* !============================================= */
/* ! Variables						  			  */
/* !============================================= */
/* !-- Universal ------------------------------------ */
/* !-- Project ------------------------------------ */
/* !-- Project ------------------------------------ */
/* !-- Paths ------------------------------------ */
/* line 20, ../sass/site.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../sass/site.scss */
body {
  margin: 0;
  padding: 10px 20px;
}

/* line 36, ../sass/site.scss */
.viz-graphic, .Graphic {
  background-color: #ff8a80;
  color: #ff8a80;
  fill: #ff8a80;
}

/* line 42, ../sass/site.scss */
.viz-interactive, .Interactive {
  background-color: #b781ff;
  color: #b781ff;
  fill: #b781ff;
}

/* line 48, ../sass/site.scss */
.viz-product, .Product {
  background-color: #819fff;
  color: #819fff;
  fill: #819fff;
}

/* line 54, ../sass/site.scss */
.viz-architecture, .Architecture {
  background-color: #ff81f4;
  color: #ff81f4;
  fill: #ff81f4;
}

/* line 61, ../sass/site.scss */
.requests, .fulfilled, .connectors {
  stroke: white;
}
/* line 63, ../sass/site.scss */
.requests rect, .requests polygon, .fulfilled rect, .fulfilled polygon, .connectors rect, .connectors polygon {
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

/* line 75, ../sass/site.scss */
.viz-article {
  margin: 0 auto;
  max-width: 634px;
  height: 100%;
  color: #33312e;
  font-size: 13px;
  font-family: "MuseoSans", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

/* line 85, ../sass/site.scss */
.viz-container {
  position: relative;
  background-color: white;
}

/* line 90, ../sass/site.scss */
.viz-detail {
  color: #99948a;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 300;
  font-size: 11px;
  line-height: 80%;
}

/* line 99, ../sass/site.scss */
.viz-overline {
  margin: 0 0 5px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ccc6b9;
  color: #99948a;
  font-weight: 300;
  font-size: 11px;
}

/* line 108, ../sass/site.scss */
.viz-title {
  margin: 0 0 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #ccc6b9;
  font-weight: 500;
  font-size: 32px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  line-height: 90%;
}
@media (min-width: 420px) {
  /* line 108, ../sass/site.scss */
  .viz-title {
    font-size: 32px;
  }
}

/* line 121, ../sass/site.scss */
.viz-copy {
  color: #66635d;
  font-weight: 300;
  line-height: 140%;
}

/* line 127, ../sass/site.scss */
.viz-byline {
  letter-spacing: .5px;
  line-height: 90%;
}

/* line 132, ../sass/site.scss */
.viz-content-block {
  margin: 0 0 15px;
}

/* line 136, ../sass/site.scss */
.viz-subhed {
  margin: 0 0 10px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ccc6b9;
  font-weight: 500;
  font-size: 13px;
}

/* line 144, ../sass/site.scss */
.viz-subhed-select {
  padding-bottom: 7px;
}

/* line 148, ../sass/site.scss */
.viz-legend {
  margin: 0 0 0 4px;
  padding: 0;
  list-style-position: inside;
}

/* line 154, ../sass/site.scss */
.viz-legend-item {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  margin: 0 15px 5px 0;
  background-color: white;
  font-size: 36px;
  line-height: 40%;
}
/* line 161, ../sass/site.scss */
.viz-legend-item:before {
  margin-left: -5px;
  padding-right: 2px;
  content: "\002022";
}

/* line 168, ../sass/site.scss */
.viz-legend-text {
  vertical-align: middle;
}

/* line 179, ../sass/site.scss */
.ss-secondary-text {
  margin-bottom: 10px;
  color: #99948a;
  font-weight: 300;
}

/* line 185, ../sass/site.scss */
.ss-q-short {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  height: 25px;
}

/* line 192, ../sass/site.scss */
#ss-submit {
  margin: 0;
}

/* line 196, ../sass/site.scss */
.ss-form-entry {
  padding: 0;
}

/* line 200, ../sass/site.scss */
#navigation-table {
  border-spacing: 0;
  border-color: white;
}

@media (min-width: 550px) {
  /* line 205, ../sass/site.scss */
  .viz-quiz-wrapper {
    *zoom: 1;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    -ms-column-gap: 10px;
    -o-column-gap: 10px;
    column-gap: 10px;
  }
  /* line 38, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .viz-quiz-wrapper:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* line 213, ../sass/site.scss */
.viz-choices-group {
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
  margin: 0;
  padding: 0;
  list-style-type: none;
  vertical-align: top;
}
@media (min-width: 550px) {
  /* line 213, ../sass/site.scss */
  .viz-choices-group {
    display: inline-block;
    width: 100%;
  }
}

/* line 225, ../sass/site.scss */
.viz-choice-item {
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc6b9;
  cursor: pointer;
}
/* line 230, ../sass/site.scss */
.viz-choice-item:nth-child(2n) {
  margin-bottom: 10px;
  border-top: 0px;
}
/* line 233, ../sass/site.scss */
.viz-choice-item:nth-child(2n) .viz-vs {
  display: block;
}

/* line 239, ../sass/site.scss */
.viz-header-wrapper {
  *zoom: 1;
  position: relative;
}
/* line 38, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.viz-header-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 244, ../sass/site.scss */
.viz-designer-description {
  display: none;
  margin: 0px;
  padding: 10px;
  color: #99948a;
  font-weight: 300;
  font-size: 12px;
  line-height: 140%;
}

/* line 254, ../sass/site.scss */
.viz-headshot-wrap {
  position: relative;
  float: left;
  overflow: hidden;
  width: 40px;
  height: 40px;
}

/* line 263, ../sass/site.scss */
.viz-headshot {
  position: relative;
  width: 1280px;
  height: 40px;
}

/* line 269, ../sass/site.scss */
.viz-designer-name {
  display: block;
  margin: 0 0 2px;
  font-weight: 300;
  font-size: 15px;
}

/* line 276, ../sass/site.scss */
.viz-designer-job {
  display: block;
  margin: 0;
  color: #99948a;
  font-weight: 300;
  font-size: 11px;
}

/* line 284, ../sass/site.scss */
.viz-designer-header-mod {
  left: 47px;
  padding-right: 35px;
}

/* line 290, ../sass/site.scss */
.viz-vs {
  position: absolute;
  top: -15px;
  right: 8px;
  z-index: 1;
  display: none;
  padding: 3px;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc6b9;
  border-radius: 50%;
  background-color: white;
  color: #ccc6b9;
  text-align: center;
  font-weight: 300;
  font-size: 10px;
}

/* line 318, ../sass/site.scss */
.viz-radio {
  display: none;
}

/* line 322, ../sass/site.scss */
.viz-quiz-target {
  position: absolute;
  top: 8px;
  right: 5px;
  width: 25px;
  height: 25px;
  background: url("http://www.guswezerek.com/projects/bracket_madness/choice_targets.png") no-repeat;
  background-position: 0 0;
  background-size: 25px;
}

/* line 331, ../sass/site.scss */
.viz-submitted-alert {
  display: none;
  margin: -10px 0 10px;
  padding: 5px;
  text-align: center;
  font-weight: 300;
  font-size: 11px;
  color: #ccc6b9;
}

/* line 342, ../sass/site.scss */
.viz-choice-winner .viz-quiz-target {
  background-position: 0 -50px;
}
/* line 345, ../sass/site.scss */
.viz-choice-winner .viz-designer-name {
  font-weight: 500;
}

/* line 351, ../sass/site.scss */
.viz-choice-loser .viz-quiz-target {
  background-position: 0 -25px;
}
/* line 354, ../sass/site.scss */
.viz-choice-loser .viz-designer-name {
  color: #99948a;
}
/* line 357, ../sass/site.scss */
.viz-choice-loser .viz-headshot {
  opacity: .5;
}

/* line 373, ../sass/site.scss */
.viz-division-finals {
  display: none;
}

/* line 377, ../sass/site.scss */
.viz-division-winner {
  display: none;
}
