/* line 757, ../sass/partials/_mixins.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 764, ../sass/partials/_mixins.scss */
.viz-designer-header-mod {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* !============================================= */
/* ! Variables						  			  */
/* !============================================= */
/* !-- Universal ------------------------------------ */
/* !-- Project ------------------------------------ */
/* !-- Project ------------------------------------ */
/* !-- Paths ------------------------------------ */
/* line 7, ../sass/partials/_base.scss */
.viz-article {
  margin: 0 auto;
  height: 100%;
  color: #33312e;
  font-size: 15px;
  font-family: "MuseoSans", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

/* line 16, ../sass/partials/_base.scss */
.viz-container {
  position: relative;
  background-color: white;
}

/* line 21, ../sass/partials/_base.scss */
.viz-detail {
  color: #99948a;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 300;
  font-size: 11px;
  line-height: 80%;
}

/* line 30, ../sass/partials/_base.scss */
.viz-overline {
  margin: 0 0 5px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ccc6b9;
  color: #99948a;
  font-weight: 300;
  font-size: 11px;
}

/* line 39, ../sass/partials/_base.scss */
.viz-title {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0;
  font-weight: 600;
  font-size: 42px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  line-height: 90%;
}
@media (min-width: 620px) {
  /* line 39, ../sass/partials/_base.scss */
  .viz-title {
    font-size: 42px;
  }
}

/* line 51, ../sass/partials/_base.scss */
.viz-underline {
  margin-top: 0;
  color: #33312e;
  font-weight: 300;
  line-height: 140%;
}

/* line 58, ../sass/partials/_base.scss */
.viz-copy {
  color: #66635d;
  font-weight: 300;
  line-height: 140%;
}

/* line 64, ../sass/partials/_base.scss */
.viz-byline {
  letter-spacing: .5px;
  line-height: 90%;
}

/* line 69, ../sass/partials/_base.scss */
.viz-content-block {
  margin: 0 0 40px;
}

/* line 73, ../sass/partials/_base.scss */
.viz-content-header {
  margin: 0 0 30px;
}

/* line 77, ../sass/partials/_base.scss */
.viz-overline-wrapper {
  position: relative;
  margin: 0 0 5px;
  padding-bottom: 10px;
  border-bottom: 2px solid #33312e;
}

/* line 84, ../sass/partials/_base.scss */
.viz-subhed {
  margin: 0 0 10px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ccc6b9;
  font-weight: 500;
  font-size: 13px;
}

/* line 92, ../sass/partials/_base.scss */
.viz-subhed-select {
  padding-bottom: 7px;
}

/* line 108, ../sass/partials/_base.scss */
.viz-choice-item {
  -webkit-transition: padding 0.2s ease-in-out;
  -moz-transition: padding 0.2s ease-in-out;
  -o-transition: padding 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out;
  padding: 5px 0;
  width: 100%;
  cursor: pointer;
  -webkit-column-break-inside: avoid;
  -webkit-backface-visibility: hidden;
}
/* line 115, ../sass/partials/_base.scss */
.viz-choice-item:nth-child(2n) {
  margin-bottom: 10px;
  border-top: 1px solid #ccc6b9;
}
/* line 118, ../sass/partials/_base.scss */
.viz-choice-item:nth-child(2n) .viz-vs {
  display: block;
}
/* line 122, ../sass/partials/_base.scss */
.viz-choice-item:last-of-type {
  padding-bottom: 0;
}

/* line 127, ../sass/partials/_base.scss */
.viz-choices-group {
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
  margin: 0 0 20px;
  padding: 0 0 0 10px;
  border-left: 1px solid #ccc6b9;
  list-style-type: none;
  vertical-align: top;
}
@media (min-width: 620px) {
  /* line 127, ../sass/partials/_base.scss */
  .viz-choices-group {
    display: inline-block;
    width: 100%;
  }
}
/* line 138, ../sass/partials/_base.scss */
.viz-choices-group .viz-choice-item {
  margin-bottom: 0;
}

/* line 143, ../sass/partials/_base.scss */
.viz-header-wrapper {
  *zoom: 1;
  position: relative;
}
/* line 38, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.viz-header-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 148, ../sass/partials/_base.scss */
.viz-designer-description {
  display: none;
  margin: 0px;
  padding: 10px 0;
  color: #99948a;
  font-weight: 300;
  font-size: 12px;
  line-height: 140%;
}

/* line 158, ../sass/partials/_base.scss */
.viz-headshot-wrap {
  position: relative;
  float: left;
  overflow: hidden;
  width: 40px;
  height: 40px;
}

/* line 167, ../sass/partials/_base.scss */
.viz-headshot {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-transition: 0.2s opacity ease-in-out, 0.3s right ease-in-out, 0.3s background-color ease-in-out;
  -moz-transition: 0.2s opacity ease-in-out, 0.3s right ease-in-out, 0.3s background-color ease-in-out;
  -o-transition: 0.2s opacity ease-in-out, 0.3s right ease-in-out, 0.3s background-color ease-in-out;
  transition: 0.2s opacity ease-in-out, 0.3s right ease-in-out, 0.3s background-color ease-in-out;
  position: relative;
  width: 1280px;
  height: 40px;
}

/* line 175, ../sass/partials/_base.scss */
.viz-designer-name {
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  display: block;
  margin: 0 0 2px;
  font-weight: 500;
  font-size: 13px;
}

/* line 183, ../sass/partials/_base.scss */
.viz-designer-job {
  display: block;
  margin: 0;
  color: #99948a;
  font-weight: 300;
  font-size: 11px;
}

/* line 191, ../sass/partials/_base.scss */
.viz-designer-header-mod {
  left: 47px;
  padding-right: 35px;
  margin-top: 1px;
}

/* line 198, ../sass/partials/_base.scss */
.viz-vs {
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  position: absolute;
  top: -13px;
  right: 0px;
  z-index: 1;
  display: none;
  padding: 0;
  width: 25px;
  height: 15px;
  border: 1px solid #ccc6b9;
  background-color: white;
  color: #ccc6b9;
  text-align: center;
  font-weight: 300;
  font-size: 10px;
}

@media (min-width: 620px) {
  /* line 7, ../sass/partials/_quiz.scss */
  .viz-quiz-wrapper {
    *zoom: 1;
  }
  /* line 38, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .viz-quiz-wrapper:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* line 13, ../sass/partials/_quiz.scss */
.viz-quiz {
  display: none;
  max-width: 634px;
  margin: 0 auto;
}

@media (min-width: 620px) {
  /* line 30, ../sass/partials/_quiz.scss */
  .viz-quiz-right {
    width: 48%;
    float: right;
  }
}

/* line 37, ../sass/partials/_quiz.scss */
.viz-radio {
  display: none;
}

/* line 41, ../sass/partials/_quiz.scss */
.viz-quiz-target {
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  position: absolute;
  top: 8px;
  right: 0px;
  width: 25px;
  height: 25px;
  background: url("http://www.guswezerek.com/projects/bracket_madness/choice_targets.png") no-repeat;
  background-position: 0 0;
  background-size: 25px;
  opacity: 0.25;
}
/* line 51, ../sass/partials/_quiz.scss */
.viz-quiz-target:hover {
  opacity: 1;
}

/* line 56, ../sass/partials/_quiz.scss */
.viz-submitted-alert {
  display: none;
  margin: -25px 0 10px;
  padding: 5px;
  color: #ccc6b9;
  text-align: center;
  font-weight: 300;
  font-size: 11px;
}

/* line 67, ../sass/partials/_quiz.scss */
.viz-choice-winner .viz-quiz-target {
  background-position: 0 -50px;
  opacity: 1;
}

/* line 74, ../sass/partials/_quiz.scss */
.viz-choice-loser .viz-quiz-target {
  background-position: 0 -25px;
}
/* line 77, ../sass/partials/_quiz.scss */
.viz-choice-loser .viz-designer-name {
  color: #99948a;
  font-weight: 300;
}
/* line 81, ../sass/partials/_quiz.scss */
.viz-choice-loser .viz-headshot {
  opacity: .3;
}

/* line 8, ../sass/partials/_rankings.scss */
.viz-rankings {
  max-width: 634px;
  margin: 0 auto 55px;
}
@media (min-width: 620px) {
  /* line 8, ../sass/partials/_rankings.scss */
  .viz-rankings {
    margin: 0 auto 20px;
  }
}
@media (min-width: 1000px) {
  /* line 8, ../sass/partials/_rankings.scss */
  .viz-rankings {
    display: none;
  }
}

@media (min-width: 620px) {
  /* line 19, ../sass/partials/_rankings.scss */
  .viz-group-1 {
    width: 48%;
    float: left;
  }
}

/* line 27, ../sass/partials/_rankings.scss */
.viz-group-2 .viz-division:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 620px) {
  /* line 26, ../sass/partials/_rankings.scss */
  .viz-group-2 {
    width: 49%;
    padding-left: 17px;
    margin-left: 15px;
    border-left: 1px dotted #ccc6b9;
    float: right;
  }
}

/* line 40, ../sass/partials/_rankings.scss */
.viz-division-list {
  *zoom: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 38, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.viz-division-list:after {
  content: "";
  display: table;
  clear: both;
}

/* line 50, ../sass/partials/_rankings.scss */
.viz-nav-anchor-list {
  padding: 0;
  list-style-type: none;
}

/* line 57, ../sass/partials/_rankings.scss */
.viz-division-topper {
  position: relative;
  margin: 0 auto 10px;
  padding: 0;
  border: 1px solid #ccc6b9;
  -webkit-column-break-inside: avoid;
  -webkit-backface-visibility: hidden;
}

/* line 66, ../sass/partials/_rankings.scss */
.viz-division-final-topper {
  border-width: 2px;
  border-color: #33312e;
  border-top: none;
  border-left: none;
  border-right: none;
}

/* line 74, ../sass/partials/_rankings.scss */
.viz-division-title {
  display: inline-block;
  margin: -3px 0 0;
  width: 100%;
  color: #33312e;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 11px;
  line-height: 80%;
}

/* line 86, ../sass/partials/_rankings.scss */
.viz-division-title-final {
  margin: -3px 0 0;
  text-align: center;
  text-transform: uppercase;
}

/* line 92, ../sass/partials/_rankings.scss */
.viz-division-bull {
  margin-left: 4px;
  padding-right: 4px;
  vertical-align: middle;
  font-size: 36px;
}

/* line 99, ../sass/partials/_rankings.scss */
.viz-division-button {
  display: none;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  position: absolute;
  top: 10px;
  width: 20px;
  height: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.3;
  cursor: pointer;
}
/* line 110, ../sass/partials/_rankings.scss */
.viz-division-button:hover {
  opacity: 1;
}
/* line 113, ../sass/partials/_rankings.scss */
.viz-division-button:focus {
  outline: none;
}

/* line 118, ../sass/partials/_rankings.scss */
.viz-prev {
  left: 10px;
  background-image: url("http://www.guswezerek.com/projects/bracket_madness/btn-prev.png");
}

/* line 125, ../sass/partials/_rankings.scss */
.viz-next {
  right: 10px;
  background-image: url("http://www.guswezerek.com/projects/bracket_madness/btn-next.png");
}

/* line 131, ../sass/partials/_rankings.scss */
.viz-division-button-img {
  margin: 0;
  width: 20px;
}

/* line 136, ../sass/partials/_rankings.scss */
.viz-division-name {
  margin-top: 0;
  padding: 0 5px;
  text-align: center;
  background-color: white;
}

/* line 143, ../sass/partials/_rankings.scss */
.viz-division-round {
  color: #33312e;
  letter-spacing: 0.5px;
  font-size: 15px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  margin: 10px 0 16px;
  font-weight: 600;
}

/* line 152, ../sass/partials/_rankings.scss */
.viz-division-final-round {
  letter-spacing: 0.5px;
  font-size: 15px;
  margin: 0 0 5px;
}

/* line 159, ../sass/partials/_rankings.scss */
.viz-division {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 100%;
  margin: 0 0 35px;
}
@media (min-width: 620px) {
  /* line 164, ../sass/partials/_rankings.scss */
  .viz-division:last-of-type .viz-division-designers-list, .viz-division .viz-choice-item:last-of-type {
    margin-bottom: 0;
  }
}

/* line 170, ../sass/partials/_rankings.scss */
.viz-division-finals {
  margin-bottom: 35px;
}

/* line 175, ../sass/partials/_rankings.scss */
.viz-rankings-winner-mod {
  text-align: center;
  width: 100px;
  margin: 0 auto 35px;
}

/* line 182, ../sass/partials/_rankings.scss */
.viz-division-winner {
  color: #33312e;
  letter-spacing: 0.5px;
  font-size: 15px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  margin: 10px 0 10px;
  font-weight: 600;
  border-top: none;
  border-left: none;
  border-right: none;
  display: none;
}

/* line 195, ../sass/partials/_rankings.scss */
.viz-division-designers-list {
  position: relative;
  margin: 0;
  padding: 0 10px;
  list-style-type: none;
}

/* line 204, ../sass/partials/_rankings.scss */
.viz-division .viz-choice-loser {
  margin-bottom: 0;
  padding: 0 0 5px;
  border-top: none;
}
/* line 208, ../sass/partials/_rankings.scss */
.viz-division .viz-choice-loser .viz-vs {
  display: none;
}

/* line 214, ../sass/partials/_rankings.scss */
.viz-transition {
  position: absolute;
}
/* line 216, ../sass/partials/_rankings.scss */
.viz-transition .viz-vs {
  opacity: 0;
}

/* line 8, ../sass/partials/_bracket.scss */
.viz-bracket {
  display: none;
  position: relative;
  margin: 0 auto 25px;
  max-width: 940px;
}
@media (min-width: 1000px) {
  /* line 8, ../sass/partials/_bracket.scss */
  .viz-bracket {
    display: block;
  }
}

/* line 18, ../sass/partials/_bracket.scss */
.viz-bracket-mod {
  position: relative;
}

/* line 22, ../sass/partials/_bracket.scss */
.viz-bracket-wrapper {
  position: relative;
}

/* line 26, ../sass/partials/_bracket.scss */
.viz-bracket-left {
  margin-left: 10px;
  height: 550px;
  width: 500px;
}
/* line 31, ../sass/partials/_bracket.scss */
.viz-bracket-left .viz-node:nth-of-type(7) .viz-bracket-designer-name, .viz-bracket-left .viz-node:nth-of-type(8) .viz-bracket-designer-name {
  font-size: 10px;
}

/* line 37, ../sass/partials/_bracket.scss */
.viz-bracket-right {
  position: absolute;
  top: 0;
  right: 10px;
  width: 500px;
  height: 550px;
}

/* line 45, ../sass/partials/_bracket.scss */
.viz-legend {
  position: absolute;
  top: 23px;
  right: 0px;
  display: inline-block;
  margin: 0 0 0 4px;
  padding: 0;
  list-style-position: inside;
}

/* line 53, ../sass/partials/_bracket.scss */
.viz-legend-item {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  margin: 0 15px 5px 0;
  background-color: white;
  font-size: 36px;
  line-height: 40%;
}
/* line 60, ../sass/partials/_bracket.scss */
.viz-legend-item:before {
  margin-left: -5px;
  padding-right: 2px;
  content: "\002022";
}
/* line 65, ../sass/partials/_bracket.scss */
.viz-legend-item:last-of-type {
  margin-right: 0;
}

/* line 70, ../sass/partials/_bracket.scss */
.viz-legend-text {
  vertical-align: middle;
}

/* line 74, ../sass/partials/_bracket.scss */
.viz-bracket-date-list {
  position: relative;
  margin: 0 0 35px;
  padding: 0;
  list-style-type: none;
}

/* line 81, ../sass/partials/_bracket.scss */
.viz-bracket-date {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: absolute;
  padding: 0;
  color: #99948a;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 11px;
}
/* line 89, ../sass/partials/_bracket.scss */
.viz-bracket-date:nth-of-type(1) {
  left: 0px;
}
/* line 92, ../sass/partials/_bracket.scss */
.viz-bracket-date:nth-of-type(2) {
  left: 13%;
}
/* line 95, ../sass/partials/_bracket.scss */
.viz-bracket-date:nth-of-type(3) {
  left: 24%;
}
/* line 98, ../sass/partials/_bracket.scss */
.viz-bracket-date:nth-of-type(4) {
  left: 36%;
}
/* line 101, ../sass/partials/_bracket.scss */
.viz-bracket-date:nth-of-type(5) {
  left: 47%;
}
/* line 104, ../sass/partials/_bracket.scss */
.viz-bracket-date:nth-of-type(6) {
  right: 36%;
}
/* line 107, ../sass/partials/_bracket.scss */
.viz-bracket-date:nth-of-type(7) {
  right: 24%;
}
/* line 110, ../sass/partials/_bracket.scss */
.viz-bracket-date:nth-of-type(8) {
  right: 13%;
}
/* line 113, ../sass/partials/_bracket.scss */
.viz-bracket-date:nth-of-type(9) {
  right: 0px;
}

/* line 118, ../sass/partials/_bracket.scss */
.viz-date-finished {
  text-decoration: line-through;
}

/* line 122, ../sass/partials/_bracket.scss */
.viz-bracket-division-border {
  position: absolute;
  width: 3px;
  height: 245px;
}

/* line 128, ../sass/partials/_bracket.scss */
.viz-graphic-border {
  background-color: #ff8a80;
  top: 100px;
  left: 0;
}

/* line 134, ../sass/partials/_bracket.scss */
.viz-interactive-border {
  background-color: #b781ff;
  top: 370px;
  left: 0;
}

/* line 140, ../sass/partials/_bracket.scss */
.viz-product-border {
  background-color: #819fff;
  top: 100px;
  right: 0;
}

/* line 146, ../sass/partials/_bracket.scss */
.viz-architecture-border {
  background-color: #ff81f4;
  top: 370px;
  right: 0;
}

/* line 152, ../sass/partials/_bracket.scss */
.viz-bracket-info-mod {
  -webkit-transition: 0.3s top ease-in-out, 0.3s left ease-in-out, 0.3s width ease-in-out;
  -moz-transition: 0.3s top ease-in-out, 0.3s left ease-in-out, 0.3s width ease-in-out;
  -o-transition: 0.3s top ease-in-out, 0.3s left ease-in-out, 0.3s width ease-in-out;
  transition: 0.3s top ease-in-out, 0.3s left ease-in-out, 0.3s width ease-in-out;
  position: absolute;
  top: 20px;
  left: 390px;
  z-index: 1;
  padding: 15px;
  background: white;
  width: 160px;
  height: 76px;
}

/* line 162, ../sass/partials/_bracket.scss */
.viz-info-initiated {
  width: 260px;
  height: auto;
  border: 1px solid #ccc6b9;
}

/* line 168, ../sass/partials/_bracket.scss */
.viz-info-instructions {
  font-size: 12px;
  text-align: center;
  margin: 0;
}

/* line 174, ../sass/partials/_bracket.scss */
.viz-info-designer-wrapper {
  position: relative;
  display: none;
}

/* line 179, ../sass/partials/_bracket.scss */
.viz-bracket-header-wrapper {
  display: table;
}

/* line 183, ../sass/partials/_bracket.scss */
.viz-bracket-copy-mod {
  display: table-cell;
  vertical-align: middle;
  padding-left: 7px;
}

/* line 189, ../sass/partials/_bracket.scss */
.viz-info-designer-header-mod {
  position: absolute;
  top: 5px;
  left: 47px;
}

/* line 195, ../sass/partials/_bracket.scss */
.viz-bracket-designer-description {
  margin: 0px;
  padding: 10px 0 0;
  color: #99948a;
  font-weight: 300;
  font-size: 12px;
  line-height: 140%;
}

/* line 204, ../sass/partials/_bracket.scss */
.viz-bracket-winner-mod {
  position: absolute;
  top: 218px;
  left: 430px;
  text-align: center;
  width: 80px;
}

/* line 210, ../sass/partials/_bracket.scss */
.viz-champion-headshot-wrap {
  float: none;
  margin: 0 auto 7px;
  width: 60px;
  height: 60px;
  border: 1px solid #99948a;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/* line 221, ../sass/partials/_bracket.scss */
.viz-champion-headshot {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  width: 60px;
}

/* line 226, ../sass/partials/_bracket.scss */
.viz-champion-info-wrap {
  border-top: 1px solid #99948a;
  padding: 7px 0 0;
}

/* line 231, ../sass/partials/_bracket.scss */
.viz-champion-seed {
  margin: 0;
  color: #99948a;
  font-family: "FCKaiserCond", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 12px;
}

/* line 239, ../sass/partials/_bracket.scss */
.viz-champion-name {
  padding: 0;
  margin: 0 0 5px;
  font-size: 12px;
}

/* line 246, ../sass/partials/_bracket.scss */
.viz-champion-label {
  margin: 0;
  font-size: 10px;
}

/* line 254, ../sass/partials/_bracket.scss */
.viz-bracket-elbow {
  -webkit-transition: 0.3s stroke-width ease-in, 0.2s stroke ease-in;
  -moz-transition: 0.3s stroke-width ease-in, 0.2s stroke ease-in;
  -o-transition: 0.3s stroke-width ease-in, 0.2s stroke ease-in;
  transition: 0.3s stroke-width ease-in, 0.2s stroke ease-in;
  fill: none;
  stroke-width: 0.5;
  stroke: #99948a;
}

/* line 261, ../sass/partials/_bracket.scss */
.viz-bracket-designer-name {
  font-size: 11px;
  cursor: pointer;
}

/* line 266, ../sass/partials/_bracket.scss */
.viz-bracket-designer-loser {
  text-decoration: line-through;
  fill: #99948a;
}

/* line 271, ../sass/partials/_bracket.scss */
.viz-bracket-seed {
  font-weight: 300;
  font-family: "FCKaiserCond", Helvetica, Arial, sans-serif;
  fill: #99948a;
}

/* line 277, ../sass/partials/_bracket.scss */
.viz-active-path {
  -webkit-transition: 0.3s stroke-width ease-in, 0.2s stroke ease-in;
  -moz-transition: 0.3s stroke-width ease-in, 0.2s stroke ease-in;
  -o-transition: 0.3s stroke-width ease-in, 0.2s stroke ease-in;
  transition: 0.3s stroke-width ease-in, 0.2s stroke ease-in;
  stroke-width: 2;
  stroke: #33312e;
}

/* line 283, ../sass/partials/_bracket.scss */
.viz-bracket-left-finals-surrogate {
  position: absolute;
  width: 100px;
  top: 160px;
  left: 411px;
  cursor: pointer;
}

/* line 34, ../sass/widget.scss */
#page .page-inner {
  background-image: none;
}

/* line 38, ../sass/widget.scss */
.full-view {
  padding-left: 0;
}

/* line 42, ../sass/widget.scss */
#page.kind-longread #page-main .after-body {
  margin: 0;
}

/* line 46, ../sass/widget.scss */
#page .page-inner {
  background-image: none;
}

/* line 50, ../sass/widget.scss */
#page.kind-longread #page-main article.full-view > header {
  padding-right: 0 !important;
}

/* line 54, ../sass/widget.scss */
#page.kind-longread #page-main article.full-view .prose.body {
  padding-right: 0 !important;
}

/* line 58, ../sass/widget.scss */
#page-body {
  padding: 0 20px;
}
@media (min-width: 620px) {
  /* line 58, ../sass/widget.scss */
  #page-body {
    padding: 0 30px;
  }
}
@media (min-width: 850px) {
  /* line 58, ../sass/widget.scss */
  #page-body {
    padding: 0 50px;
  }
}
@media (min-width: 1000px) {
  /* line 58, ../sass/widget.scss */
  #page-body {
    padding: 0 200px 0 20px;
  }
}

/* line 71, ../sass/widget.scss */
#page.kind-longread #page-main article.full-view > header .title {
  margin-top: 24px;
  margin-bottom: 15px;
}

/* line 76, ../sass/widget.scss */
.full-view .byline {
  display: none;
}

/* line 84, ../sass/widget.scss */
.full-view > header .deck, .full-view > header .deck p {
  font-weight: 500 !important;
  margin-bottom: 0;
}

/* line 93, ../sass/widget.scss */
.prose.body * {
  -webkit-font-smoothing: subpixel-antialiased;
}
/* line 97, ../sass/widget.scss */
.prose.body form {
  margin: 0 0 -15px 0;
}
/* line 101, ../sass/widget.scss */
.prose.body p, .prose.body p:first-child, .prose.body p:first-line {
  font-family: inherit !important;
  color: inherit;
  line-height: inherit;
  font-weight: inherit !important;
}
/* line 108, ../sass/widget.scss */
.prose.body label {
  margin: 0;
}
/* line 113, ../sass/widget.scss */
.prose.body ol {
  list-style-type: none;
  line-height: 100%;
}
/* line 118, ../sass/widget.scss */
.prose.body ol > li {
  width: auto;
}
/* line 122, ../sass/widget.scss */
.prose.body ol > li:before {
  position: static;
}
/* line 126, ../sass/widget.scss */
.prose.body ul > li:before {
  content: none;
}
/* line 133, ../sass/widget.scss */
.prose.body .viz-graphic-text {
  color: #ff8a80;
}
/* line 137, ../sass/widget.scss */
.prose.body .viz-interactive-text {
  color: #b781ff;
}
/* line 141, ../sass/widget.scss */
.prose.body .viz-product-text {
  color: #819fff;
}
/* line 145, ../sass/widget.scss */
.prose.body .viz-architecture-text {
  color: #ff81f4;
}
/* line 149, ../sass/widget.scss */
.prose.body .viz-graphic-img {
  background-color: #ff8a80;
}
/* line 153, ../sass/widget.scss */
.prose.body .viz-interactive-img {
  background-color: #b781ff;
}
/* line 157, ../sass/widget.scss */
.prose.body .viz-product-img {
  background-color: #819fff;
}
/* line 161, ../sass/widget.scss */
.prose.body .viz-architecture-img {
  background-color: #ff81f4;
}
/* line 165, ../sass/widget.scss */
.prose.body .viz-title {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 500 !important;
  font-size: 42px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  line-height: 90%;
  font-color: #33312e;
}
/* line 176, ../sass/widget.scss */
.prose.body .viz-native-copy {
  line-height: 160%;
  font-size: 15px;
  margin-bottom: 24px;
}
/* line 184, ../sass/widget.scss */
.prose.body .viz-bracket {
  margin: 24px 0;
  margin-right: -312px;
}
/* line 189, ../sass/widget.scss */
.prose.body .viz-legend {
  margin: 0 0 0 4px;
  list-style-type: none !important;
  font-family: "MuseoSans", Helvetica, Arial, sans-serif;
}
/* line 195, ../sass/widget.scss */
.prose.body .viz-legend-item {
  position: static;
  margin: 0 15px 5px 0;
  padding: 0;
  width: auto;
  list-style-type: none !important;
  font-size: 30px;
  line-height: 40%;
}
/* line 203, ../sass/widget.scss */
.prose.body .viz-legend-item:before {
  margin-left: -5px;
  padding-right: 2px;
  content: "\002022";
}
/* line 208, ../sass/widget.scss */
.prose.body .viz-legend-item:last-of-type {
  margin-right: 0;
}
/* line 213, ../sass/widget.scss */
.prose.body .viz-legend-item {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  margin: 0 15px 5px 0;
  background-color: white;
  font-size: 36px;
  line-height: 40%;
}
/* line 220, ../sass/widget.scss */
.prose.body .viz-legend-item:before {
  margin-left: -5px;
  padding-right: 2px;
  color: inherit;
  content: "\002022" !important;
}
/* line 226, ../sass/widget.scss */
.prose.body .viz-legend-item:last-of-type {
  margin-right: 0;
}
/* line 231, ../sass/widget.scss */
.prose.body .viz-detail {
  color: #99948a;
}
/* line 235, ../sass/widget.scss */
.prose.body .viz-bracket-date-list {
  margin: 0 0 30px;
}
/* line 239, ../sass/widget.scss */
.prose.body .viz-bracket-date {
  position: absolute;
  padding: 0;
  font-size: 11px;
}
/* line 243, ../sass/widget.scss */
.prose.body .viz-bracket-date:nth-of-type(1) {
  left: 0px;
}
/* line 246, ../sass/widget.scss */
.prose.body .viz-bracket-date:nth-of-type(2) {
  left: 12%;
}
/* line 249, ../sass/widget.scss */
.prose.body .viz-bracket-date:nth-of-type(3) {
  left: 23%;
}
/* line 252, ../sass/widget.scss */
.prose.body .viz-bracket-date:nth-of-type(4) {
  left: 34%;
}
/* line 255, ../sass/widget.scss */
.prose.body .viz-bracket-date:nth-of-type(5) {
  left: 47%;
}
/* line 258, ../sass/widget.scss */
.prose.body .viz-bracket-date:nth-of-type(6) {
  right: 34%;
}
/* line 261, ../sass/widget.scss */
.prose.body .viz-bracket-date:nth-of-type(7) {
  right: 23%;
}
/* line 264, ../sass/widget.scss */
.prose.body .viz-bracket-date:nth-of-type(8) {
  right: 12%;
}
/* line 267, ../sass/widget.scss */
.prose.body .viz-bracket-date:nth-of-type(9) {
  right: 0px;
}
/* line 272, ../sass/widget.scss */
.prose.body .viz-bracket-competitor-name {
  font-weight: 500;
}
/* line 276, ../sass/widget.scss */
.prose.body .viz-info-instructions, .prose.body .viz-info-instructions:first-child, .prose.body .viz-info-instructions:first-line {
  color: #33312e;
  font-size: 12px !important;
  line-height: 130%;
}
/* line 282, ../sass/widget.scss */
.prose.body .viz-headshot {
  max-width: none;
}
/* line 286, ../sass/widget.scss */
.prose.body .viz-designer-name, .prose.body .viz-designer-job {
  margin-bottom: 0;
}
/* line 290, ../sass/widget.scss */
.prose.body .viz-bracket-designer-description, .prose.body .viz-bracket-designer-description:first-child, .prose.body .viz-bracket-designer-description:first-line {
  margin-bottom: 0;
  color: #99948a;
  font-size: 12px !important;
  line-height: 140%;
}
/* line 297, ../sass/widget.scss */
.prose.body .viz-designer-name, .prose.body .viz-designer-name:first-child, .prose.body .viz-designer-name:first-line {
  margin-bottom: 2px;
  color: #33312e;
  font-weight: 500 !important;
  font-size: 13px !important;
  line-height: 100%;
}
/* line 305, ../sass/widget.scss */
.prose.body .viz-designer-job, .prose.body .viz-designer-job:first-child, .prose.body .viz-designer-job:first-line {
  color: #99948a;
  font-size: 11px !important;
  line-height: 120%;
}
/* line 311, ../sass/widget.scss */
.prose.body .viz-champion-name, .prose.body .viz-champion-name:first-child, .prose.body .viz-champion-name:first-line {
  margin: 0 0 5px;
  font-weight: 500 !important;
  font-size: 12px !important;
  line-height: 80%;
  color: #33312e;
}
/* line 319, ../sass/widget.scss */
.prose.body .viz-champion-seed {
  font-weight: 300;
}
/* line 323, ../sass/widget.scss */
.prose.body .viz-champion-headshot {
  max-width: none;
  width: 60px;
}
/* line 328, ../sass/widget.scss */
.prose.body .viz-champion-label, .prose.body .viz-champion-label:first-child, .prose.body .viz-champion-label:first-line {
  margin: 0;
  color: #99948a;
  font-size: 10px !important;
  line-height: 80%;
}
/* line 335, ../sass/widget.scss */
.prose.body .viz-underline {
  color: #33312e;
  line-height: 160% !important;
  font-size: 15px !important;
}
/* line 346, ../sass/widget.scss */
.prose.body .viz-quiz {
  max-width: none;
}
/* line 350, ../sass/widget.scss */
.prose.body .viz-choices-group {
  margin: 0 0 20px;
  list-style-type: none !important;
  vertical-align: top;
}
/* line 356, ../sass/widget.scss */
.prose.body .viz-choice-item {
  position: static;
  margin-bottom: 0;
  padding: 5px 0;
  width: 100%;
  list-style-type: none !important;
}
/* line 362, ../sass/widget.scss */
.prose.body .viz-choice-item:nth-child(2n) {
  margin-bottom: 10px;
}
/* line 365, ../sass/widget.scss */
.prose.body .viz-choice-item:last-of-type {
  padding-bottom: 0;
}
/* line 370, ../sass/widget.scss */
.prose.body .viz-division .viz-choice-loser {
  margin-bottom: 0;
  padding: 5px 0 0px;
}
/* line 375, ../sass/widget.scss */
.prose.body .viz-vs {
  color: #ccc6b9;
  line-height: 120%;
}
/* line 380, ../sass/widget.scss */
.prose.body .viz-submitted-alert {
  margin: -25px 0 10px;
  padding: 5px;
  color: #ccc6b9;
  font-size: 11px !important;
}
/* line 387, ../sass/widget.scss */
.prose.body .viz-designer-description, .prose.body .viz-designer-description:first-child, .prose.body .viz-designer-description:first-line {
  margin: 0px;
  padding: 10px 0;
  color: #99948a;
  font-size: 12px !important;
  line-height: 140%;
}
/* line 395, ../sass/widget.scss */
.prose.body .viz-choice-loser .viz-designer-name, .prose.body .viz-choice-loser .viz-designer-name:first-child, .prose.body .viz-choice-loser .viz-designer-name:first-line {
  color: #99948a !important;
  font-weight: 300 !important;
}
/* line 404, ../sass/widget.scss */
.prose.body .viz-rankings {
  max-width: none;
}
/* line 408, ../sass/widget.scss */
.prose.body .viz-division-finals {
  width: 100%;
  margin-bottom: 35px !important;
  padding: 0;
}
/* line 414, ../sass/widget.scss */
.prose.body .viz-division-list {
  margin: 0;
  padding: 0;
  list-style-type: none !important;
}
/* line 420, ../sass/widget.scss */
.prose.body .viz-division {
  margin: 0 0 35px;
}
/* line 424, ../sass/widget.scss */
.prose.body .viz-group-2 .viz-division:last-of-type {
  margin-bottom: 0;
}
/* line 429, ../sass/widget.scss */
.prose.body .viz-division-button {
  border: none;
}
/* line 433, ../sass/widget.scss */
.prose.body .viz-division-title {
  text-transform: uppercase;
  font-weight: 300 !important;
  font-size: 11px !important;
  line-height: 80%;
}
/* line 440, ../sass/widget.scss */
.prose.body .viz-division-name {
  font-family: "MuseoSans", Helvetica, Arial, sans-serif;
}
/* line 444, ../sass/widget.scss */
.prose.body .viz-division-round {
  margin: 10px 0 16px;
  color: #33312e;
  font-weight: 600 !important;
  font-size: 15px !important;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif !important;
}
/* line 452, ../sass/widget.scss */
.prose.body .viz-division-designers-list {
  padding: 0 10px;
  margin: 0;
  list-style-type: none;
}
/* line 458, ../sass/widget.scss */
.prose.body .viz-transition {
  position: absolute;
}
/* line 460, ../sass/widget.scss */
.prose.body .viz-transition .viz-vs {
  opacity: 0;
}
