// ============================================= 

//  Base SCSS                

// ============================================= 


//  Imports            
// =============================================
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "partials/mixins";
@import "partials/type";
@import "partials/variables";


//  FOR DEMO PAGE ONLY           
// =============================================

*, *:before, *:after { -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; box-sizing: border-box;
 }

body {
	margin: 0;
	padding: 15px 20px; 
	@media (min-width: $small) {
		padding: 30px 20px; 
	}
}





// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

//  Base styles            

// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

.viz-article {
	margin: 0 auto;
	max-width: 634px;
	height: 100%;
	color: $txt-black;
	font-size: 15px;
	font-family: $sans;
	text-rendering: optimizeLegibility;
}

.viz-container {
	position: relative;
	background-color: $bground;
}

.viz-detail {
    color: $med-gray;
    text-transform: uppercase;
	letter-spacing: .5px;
    font-weight: 300;
    font-size: 11px;
	line-height: 80%;
}

.viz-overline {
	margin: 0 0 5px;
	padding-bottom: 3px;
	border-bottom: 1px solid $light-gray;
	color: $med-gray;
	font-weight: 300;
	font-size: 11px;
}

.viz-title {
	margin: 0 0 5px;
	padding-bottom: 10px;
	border-bottom: 2px solid $txt-black;
	font-weight: 600;
	font-size: 42px;
	font-family: $slab;
	line-height: 90%;
	@media (min-width: $small) {
		font-size: 42px;
	}
}

.viz-underline {
	margin-top: 0;
	color: $txt-black;
	font-weight: 300;
	line-height: 140%;
}

.viz-copy {
	color: $dark-gray;
	font-weight: 300;
	line-height: 140%;
}

.viz-byline {
	letter-spacing: .5px;
	line-height: 90%;
}

.viz-content-block {
	margin: 0 0 40px;
}

.viz-content-header {
	margin: 0 0 30px;
}

.viz-subhed {
	margin: 0 0 10px;
	padding-bottom: 3px;
	border-bottom: 1px solid $light-gray;
	font-weight: 500;
	font-size: 13px;
}

.viz-subhed-select {
	padding-bottom: 7px;
}

.viz-legend {
	margin: 0 0 0 4px;
	padding: 0;
	list-style-position: inside;
}

.viz-legend-item {
	@include inline-block;
	@include trans(0.2s, opacity, ease-in-out);
	margin: 0 15px 5px 0;
	background-color: $bground;
	font-size: 36px;
	line-height: 40%;
	&:before {
		margin-left: -5px;
		padding-right: 2px;
		content: "\002022";
	}
}

.viz-legend-text {
	vertical-align: middle;
}



// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

// Designer Mod

// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

.viz-choice-item {
	padding: 5px 0;
	width: 100%;
	border-bottom: 1px solid $light-gray;
	cursor: pointer;
	-webkit-column-break-inside:avoid;
	-webkit-backface-visibility:hidden;
	&:nth-child(2n) {
		margin-bottom: 10px;
		border-bottom: 0px;
		.viz-vs {
			display: block;
		}
	}
	&:first-of-type {
		padding-top: 0;
	}
	&:last-of-type {
		padding-bottom: 0;
	}
}

.viz-choices-group {
	@include trans(0.2s, width, ease-in-out);
	margin: 0 0 20px;
	padding: 0 0 0 10px;
	border-left: 1px solid $light-gray;
	list-style-type: none;
	vertical-align: top;
	@media (min-width: $small) {
		display: inline-block;
		width: 100%;
	}
	& .viz-choice-item {
		margin-bottom: 0;
	}
}

.viz-header-wrapper {
	@include pie-clearfix;
	position: relative;
}

.viz-designer-description {
	display: none;
	margin: 0px;
	padding: 10px 0;
	color: $med-gray;
	font-weight: 300;
	font-size: 12px;
	line-height: 140%;
}

.viz-headshot-wrap {
	position: relative;
	float: left;
	overflow: hidden;
	width: 40px;
	height: 40px;
}

// Supercute img tag sprites hack
.viz-headshot {
	position: relative;
	width: 1280px;
	height: 40px;
}

.viz-designer-name {
	display: block;
	margin: 0 0 2px;
	font-weight: 500;
	font-size: 14px;
}

.viz-designer-job {
	display: block;
	margin: 0;
	color: $med-gray;
	font-weight: 300;
	font-size: 11px;
}

.viz-designer-header-mod {
	@extend %vertical-align;
	left: 47px;
	padding-right: 35px;
}

.viz-vs {
	@include absolute(-13px 0px n n);
	z-index: 1;
	display: none;
	padding: 0;
	width: 25px;
	height: 15px;
	border: 1px solid $light-gray;
	background-color: white;
	color: $light-gray;
	text-align: center;
	font-weight: 300;
	font-size: 10px;
}



// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

// Quiz specific

// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

.viz-quiz-wrapper {
	@media (min-width: $small) {
		@include pie-clearfix;
		@include column-count(2);
		@include column-gap(30px);
	}
}

.viz-quiz {
	// Set to display: none after voting ends
}

.viz-radio {
    display:none;
}

.viz-quiz-target {
	@include trans(0.2s, opacity, ease-in-out);
	@include absolute(8px 0px n n);
	width: 25px;
	height: 25px;
	background: url('http://www.guswezerek.com/projects/bracket_madness/choice_targets.png') no-repeat;
	background-position: 0 0;
	background-size: 25px;
	opacity: 0.5;
	&:hover {
		opacity: 1;
	}
}

.viz-submitted-alert {
	display: none;
	margin: -25px 0 10px;
	padding: 5px;
	color: $light-gray;
	text-align: center;
	font-weight: 300;
	font-size: 11px;
}

.viz-choice-winner {
	& .viz-quiz-target {
		background-position: 0 -50px;
	}
}

.viz-choice-loser {
	& .viz-quiz-target {
		background-position: 0 -25px;
	}
	& .viz-designer-name {
		color: $med-gray;
		font-weight: 300;
	}
	& .viz-headshot {
		opacity: .3;
	}
}


// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

// Rankings specific

// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

.viz-rankings {
	// display: none;
}

.viz-column-1 {
	@media (min-width: $small) {
		width: 48%;
		float: left;
	}
}

.viz-column-2 {
	@media (min-width: $small) {
		width: 49%;
		padding-left: 17px;
		margin-left: 15px;
		border-left: 1px dotted $light-gray;
		float: right;
	}
}

.viz-division-list {
	@include pie-clearfix;
	margin: 0;
	padding: 0;
	list-style-type: none;
}



// Nav
.viz-nav-anchor-list {
	padding: 0;
	list-style-type: none;
}

.viz-nav-anchor-item {

}


// Topper
.viz-division-topper {
	position: relative;
	margin: 0 auto 15px;
	padding: 0;	
	border: 1px solid $light-gray;
	-webkit-column-break-inside: avoid;
	-webkit-backface-visibility: hidden;
}

.viz-division-title {
	display: inline-block;
	margin: -3px 0 0;
	width: 100%;
	color: $txt-black;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 11px;
	line-height: 80%;
}

.viz-division-bull {
	margin-left: 4px;
	padding-right: 4px;
	vertical-align: middle;
	font-size: 36px;
}

.viz-division-button {
	@include trans(0.2s, opacity, ease-in-out);
	position: absolute;
	top: 10px;
	width: 20px;
	height: 20px;
	background-size: 100%;
	background-repeat: no-repeat;
	opacity: 0.5;
	cursor: pointer;
	&:hover {
		opacity: 1;
	}
	&:focus {
		outline: none;
	}
}

.viz-prev {
	left: 10px;
	background-image: url('http://www.guswezerek.com/projects/bracket_madness/btn-prev.png');
}

.viz-next {
	right: 10px;
	background-image: url('http://www.guswezerek.com/projects/bracket_madness/btn-next.png');
}

.viz-division-button-img {
	margin: 0;
	width: 20px;
}

.viz-division-name {
	margin-top: 0;
	padding: 0 5px;
	text-align: center;
	background-color: $bground;
}

.viz-division-round {
	color: $txt-black;
	letter-spacing: 0.5px;
	font-size: 15px;
	font-family: $slab;
	margin: 10px 0 16px;
	font-weight: 600;
}


// Divison lists
.viz-division {
	@include inline-block;
	width: 100%;
	@media (min-width: $small) {
		&:last-of-type .viz-division-designers-list, .viz-choice-item:last-of-type {
			margin-bottom: 0;
		}
	}
}

.viz-division-finals {
	display: none; // Switch to display: block when appropriate
}

.viz-division-winner {
	display: none; // Switch to display: block on the final day
}

.viz-division-designers-list {
	margin: 0 0 35px;
	padding: 0 10px;
	list-style-type: none;
}



// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

// Keyed colors

// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

.viz-graphic-text {
	color: $bground-15;
}

.viz-interactive-text {
	color: $bground-11;
}

.viz-product-text {
	color: $bground-9;
}

.viz-architecture-text {
	color: $bground-13;
}

.viz-graphic-img {
	background-color: $bground-15;
}

.viz-interactive-img {
	background-color: $bground-11;
}

.viz-product-img {
	background-color: $bground-9;
}

.viz-architecture-img {
	background-color: $bground-13;
}

