// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

// Bracket specific

// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~


.viz-bracket {
	position: relative;
	margin: 0 auto;
	max-width: 940px;
}

.viz-bracket-left {
	margin-left: 10px;
	height: 550px;
	width: 500px;
}

.viz-bracket-right {
	position: absolute;
	top: 83px;
	right: 10px;
	width: 500px;
	height: 550px;
}

.viz-legend {
	@include absolute(23px 0px n n);
	display: inline-block;
	margin: 0 0 0 4px;
	padding: 0;
	list-style-position: inside;
}

.viz-legend-item {
	@include inline-block;
	@include trans(0.2s, opacity, ease-in-out);
	margin: 0 15px 5px 0;
	background-color: $bground;
	font-size: 36px;
	line-height: 40%;
	&:before {
		margin-left: -5px;
		padding-right: 2px;
		content: "\002022";
	}
	&:last-of-type {
		margin-right: 0;
	}
}

.viz-legend-text {
	vertical-align: middle;
}

.viz-bracket-date-list {
	position: relative;
	margin: 0 0 35px;
	padding: 0;
	list-style-type: none;
}

.viz-bracket-date {
	@include inline-block;
	position: absolute;
	padding: 0;
	color: $med-gray;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 11px;
	&:nth-of-type(1){
		left: 10px;
	}
	&:nth-of-type(2){
		left: 13%;
	}
	&:nth-of-type(3){
		left: 24%;
	}
	&:nth-of-type(4){
		left: 36%;
	}
	&:nth-of-type(5){
		left: 47%;
	}
	&:nth-of-type(6){
		right: 36%;
	}
	&:nth-of-type(7){
		right: 24%;
	}
	&:nth-of-type(8){
		right: 13%;
	}
	&:nth-of-type(9){
		right: 10px;
	}
}

.viz-date-finished {
	text-decoration: line-through;
}

.viz-bracket-division-border {
	position: absolute;
	width: 3px;
	height: 245px;
}

.viz-bracket {
	.viz-graphic-img {
		top: 100px;
		left: 0;
	}

	.viz-interactive-img {
		top: 370px;
		left: 0;
	}

	.viz-product-img {
		top: 100px;
		right: 0;
	}

	.viz-architecture-img {
		top: 370px;
		right: 0;
	}
}


// SVG
.viz-bracket-elbow {
	fill: none;
	stroke-width: 1;
	stroke: $med-gray;
}

.viz-designer-name {
	font-size: 11px;
	cursor: default;
}

.viz-designer-loser {
	text-decoration: line-through;
	fill: $med-gray;
}

.viz-bracket-seed {
	font-weight: 300;
	font-family: $condensed;
	fill: $med-gray;
}




